@model IEnumerable<FlightViewModel>

@{
    ViewData["Title"] = "Flights";
}


<div>
    <h2>@ViewData["Title"]</h2>
</div>
<hr />

<div class="row">
    <div class="col-md-12">
        <div>
            <div class="pull-left">
                <a asp-action="Create" class="btn btn-primary">
                    <span title="Register New" class="glyphicon glyphicon-plus-sign"></span> Register New
                </a>
            </div>
        </div>
    </div>
</div>
<br />

<div class="panel panel-default">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartureAirportName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureAirportCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationAirportName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationAirportCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuelNeeded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TakeOffEffort)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureAirportName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureAirportCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DestinationAirportName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DestinationAirportCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Distance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FuelNeeded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TakeOffEffort)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" title="Edit" class="btn btn-warning">
                        <span>Edit</span>
                    </a>         
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div class="modal fade" id="customerHistory" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Customer Data History</h4>
            </div>
            <div class="modal-body">
                <p id="customerHistoryData"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
